.cf-form {
  & &__input-group {
    display: table;
    position: relative;
    border-collapse: separate;
    border: 1px solid $color-standard;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    height: 30px;
    box-shadow: none;
    margin-bottom: 15px;
    .cf-form__input {
      border: 0;
      width: 100%;
      padding: 5px 0 4px 10px;
    }
    .cf-form__textarea{
      border: 0;
      width: 100%;
      height: 150px;
      padding: 5px 0 4px 10px;
      resize: none;
    }
    .cf-form__addon {
      display: table-cell;
      vertical-align: middle;
      width: 1%;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      color: $color-standard;
      white-space: nowrap;
      line-height: 1;
      &.cf-form__addon--prefix {
        padding: 0 0 0 8px;
        .cf-form__numeric-button {
          display: inline-block;
          color: $color-standard;
          text-decoration: none;
          background: 0 0;
          border: 0;
          margin-left: 5px;
          font-family: $icon-font-family;
          &:hover{
            cursor:pointer;
          }
          &.cf-form__numeric-button--up{
            &:before {
              content: $icon-plus;
            }
          }
          &.cf-form__numeric-button--down{
            &:before {
              content: $icon-minus;
            }
          }
        }
      }
      &.cf-form__addon--validate {
        padding: 0 8px;
        font-weight: 400;
        font-family: $icon-font-family;
        &:before {
          content: "";
        }
      }
    }
    &.validation-error {
      border-color: $color-error;
      .cf-form__input {
        color: $color-error;
        @include placeholder($color-error)
      }
      .cf-form__addon {
        color: $color-error;
        &.cf-form__addon--prefix{
          .cf-form__numeric-button{
            color:$color-error;
          }
        }
        &.cf-form__addon--validate:before {
          content: $icon-times;
        }
      }
    }
    &.validation-ok {
      .cf-form__addon--validate {
        color: $color-sucess;
        &:before {
          content: $icon-ok;
        }
      }
    }
  }
  & &__checkbox-group {
    margin-bottom: 15px;
    .cf-form__checkbox {
      display: block;
      text-decoration: none;
      border: 1px solid $color-standard;
      background: 0 0;
      color: $color-standard;
      padding: 0 10px;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 30px;
      height: 30px;
      font-size: 14px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      &:hover {
        text-decoration: none;
        background-color: #f2f2f2;
        color: $color-standard;
      }
      &:focus {
        text-decoration: none;
        color: $color-standard;
      }
      &.checked {
        text-decoration: none;
        background-color: #dfdfdf;
      }
    }
    &.validation-error {
      .cf-form__checkbox {
        border-color: $color-error;
        color: $color-error;
      }
    }
  }
  & &__upload-container {
    margin-bottom: 15px;
    .moxie-shim {
      left: 105% !important;
    }
    .cf-form__upload-button {
      position: relative;
      display: inline-block;
      background: 0 0;
      border: 1px solid $color-standard;
      color: $color-standard;
      font-size: 14px;
      text-align: left;
      padding: 5px 30px 5px 20px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      &:after {
        font-family: $icon-font-family;
        content: $icon-plus;
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: 10px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
      &:hover {
        color: #fff;
        background: $color-standard;
      }
    }
    .cf-form__files {
      //margin: 15px 0;
      padding: 0;
      list-style: none;
      .cf-form__file {
        line-height: 17px;
        width: 100%;
        zoom: 1;
        font-size: 14px;
        color: $color-standard;
        margin-bottom: 10px;
        .cf-form__file-remove {
          background: 0 0;
          border: 0;
          padding: 0 10px 0 0;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -ms-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          float: left;
          color: $color-standard;
          font-family: $icon-font-family;
          font-size: 14px;
          line-height: 17px;
          &:hover {
            color: $color-standard;
          }
          &:before {
            content: $icon-times;
          }
        }
      }
    }
  }
  & &__select {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    &:after {
      font-family: $icon-font-family;
      color: $color-standard;
      font-size: 14px;
      position: absolute;
      right: 10px;
      top: 5px;
      font-style: normal;
      content: $icon-chevron-down;
    }
    .cf-form__select-placeholder {
      margin-bottom: 0;
      cursor: pointer;
      display: block;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      color: $color-standard;
      padding: 5px 0 4px 10px;
      border: 1px solid $color-standard;
      @include transition(300ms);
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .cf-form__select-options {
      background: #ffffff;
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      display: block;
      min-width: 100%;
      max-width: 150%;
      top: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
      @include transition(300ms);
      overflow: hidden;
      border: 1px solid transparent;
      .cf-form__select-option {
        display: block;
        background: transparent;
        color: $color-standard;
        font-size: 14px;
        font-weight: 300;
        padding: 7px 0 7px 10px;
        @include transition(300ms);
        &:hover {
          background: #eeeeee;
          color: $color-standard;;
        }
      }
    }
    &.cs-form__select-opened {
      .cf-form__select-options {
        z-index: 11;
        border: 1px solid $color-standard;
      }
    }
    &.validation-error {
      .cf-form__select-placeholder {
        color: $color-error;
        border-color: $color-error;
      }
      &:after {
        color: $color-error;
      }
    }
  }
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    font-weight: 400;
    font-size: 13px;
    color: $color-standard;
    line-height: 17px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  input[type="checkbox"] + label span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: -1px 10px 0 0;
    vertical-align: middle;
    background: 0 0;
    border: 1px solid $color-standard;
    cursor: pointer;
  }

  input.validation-error[type="checkbox"] + label {
    color: $color-error;
  }
  input.validation-error[type="checkbox"] + label span {
    border-color: $color-error;
  }

  input[type="checkbox"]:checked + label span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: -1px 10px 0 0;
    vertical-align: middle;
    background: $color-standard;
    border: 1px solid $color-standard;
    cursor: pointer;
  }
  & &__submit {
    float: right;
    border: 1px solid $color-standard;
    background: transparent;
    color: $color-standard;;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 20px;
    @include transition(300ms);
    &:hover {
      color: #ffffff;
      background: $color-standard;
    }
  }
}
