$color-standard: #333030;
$color-error:#CC2931;
$color-sucess:#92D95C;
$icon-font-family:"CustomFontFace", sans-serif;
$icon-times:"\f00d";
$icon-ok:"\f00c";
$icon-chevron-down:"\f078";
$icon-plus:"\f067";
